@using ClinicPlus.Models.Entities
@model ClinicPlus.ViewModels.Consultss.UpdateConsultaViewModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><span class="ml-1 mr-2"><i class="fas fa-notes-medical"></i></span>Editar agendamento</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <form asp-action="Update">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Data" class="control-label"></label>
                            <input id="data" asp-for="Data" class="form-control w-25">
                            <span asp-validation-for="Data" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EspecialidadeId" class="control-label"></label>
                            <select id="especialidade" name="EspecialidadeId" class="form-control w-25"></select>
                            <span asp-validation-for="EspecialidadeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MedicoId" class="control-label"></label>
                            <select id="medico" name="MedicoId" class="form-control w-25"></select>
                            <span asp-validation-for="MedicoId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PacienteId" class="control-label"></label>
                            <select id="paciente" name="PacienteId" class="form-control w-25"></select>
                            <span asp-validation-for="PacienteId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary w-25">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var especialidadeAtualId = '@ViewBag.EspecialidadeAtualId';
        var medicoAtualId = '@ViewBag.MedicoAtualId';
        var pacienteAtualId = '@ViewBag.PacienteAtualId';
        
        var especialidadeDropdown = $('#especialidade');
        var medicoDropdown = $('#medico');
        var pacienteDropdown = $('#paciente');

        function carregaEspecialidadeAtual(especialidadeId) {
            especialidadeDropdown.empty();
            if (especialidadeId) {
                $.ajax({
                    url: '@Url.Action("GetEspecialidadeAtualById", "Consultas")',
                    type: 'GET',
                    data: { especialidadeAtualId: especialidadeId },
                    success: function (response) {
                        $.each(response,  function(index, especialidadeAtual) {
                            especialidadeDropdown.append('<option style="background-color:' + especialidadeAtual.cor + '" value="' + especialidadeAtual.id + '">' + especialidadeAtual.titulo + '</option>');
                        });
                    }
                });
            }
        }
        
        function carregaMedicoAtual(medicoId) {
            medicoDropdown.empty();
            if (medicoId) {
                $.ajax({
                    url: '@Url.Action("GetMedicoAtualById", "Consultas")',
                    type: 'GET',
                    data: { medicoAtualId: medicoId },
                    success: function (response) {
                        $.each(response,  function(index, medicoAtual) {
                            medicoDropdown.append('<option value="' + medicoAtual.id + '">' + medicoAtual.nome + '</option>');
                        });
                    }
                });
            }
        }

        function carregaPacienteAtual(pacienteId) {
            pacienteDropdown.empty();
            if (pacienteId) {
                $.ajax({
                    url: '@Url.Action("GetPacienteAtualById", "Consultas")',
                    type: 'GET',
                    data: { pacienteAtualId: pacienteId },
                    success: function (response) {
                        $.each(response,  function(index, pacienteAtual) {
                            pacienteDropdown.append('<option value="' + pacienteAtual.id + '">' + pacienteAtual.nome + '</option>');
                        });
                    }
                });
            }
        }
        
        
                
        function carregarMedicosPorEspecialidade(especialidadeId){
            medicoDropdown.empty();
            if (especialidadeId) {
                $.ajax({
                    url: '@Url.Action("GetMedicosByEspecialidade", "Consultas")',
                    type: 'GET',
                    data: { especialidadeSelecionadaId: especialidadeId },
                    success: function (response) {
                        $.each(response,  function(index, medico) {
                            medicoDropdown.append('<option value="' + medico.id + '">' + medico.nome + '</option>');
                        });
                    }
                });
            }
        }
        
        carregaEspecialidadeAtual(especialidadeAtualId);
        carregaMedicoAtual(medicoAtualId);
        carregaPacienteAtual(pacienteAtualId);
                
        
        especialidadeDropdown.focus(function (){
        especialidadeDropdown.empty();
            $.ajax({
                url: '@Url.Action("GetEspecialidades", "Consultas")',
                type: 'GET',
                success: function (response) {
                    $.each(response,  function(index, especialidade) {
                        especialidadeDropdown.append('<option value="' + especialidade.id + '">' + especialidade.titulo + '</option>');
                    });
                }
            });
        });
        
        especialidadeDropdown.change(function () {
          especialidadeId = $(this).val();
          carregarMedicosPorEspecialidade(especialidadeId);
        });
        
        pacienteDropdown.focus(function (){
        pacienteDropdown.empty()
            $.ajax({
                url: '@Url.Action("GetPacientes", "Consultas")',
                type: 'GET',
                success: function (response) {
                    $.each(response,  function(index, paciente) {
                        pacienteDropdown.append('<option value="' + paciente.id + '">' + paciente.nome + '</option>');
                    });
                }
            });
        });
    });
</script>