@model IEnumerable<ClinicPlus.ViewModels.Monitoramentos.ListarMonitoramentoPacienteViewModel>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><span class="ml-1 mr-2"><i class="fas fa-heartbeat"></i></span>Sinais vitais</h1>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5>Paciente: @ViewBag.NomePaciente</h5>
                        <a href="/monitoramento/add?idPaciente=@ViewBag.IdPaciente" class="btn btn-outline-primary btn-sm">
                            Novo Monitoramento
                            <span>
                                <i class="fas fa-plus-circle"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover table-head-fixed text-nowrap">
                        <thead>
                        <tr>
                            <th style="width: 150px;">Data</th>
                            <th>P.A.</th>
                            <th>F.C.</th>
                            <th>Temperatura</th>
                            <th>SpO2</th>
                            <th style="width: 40px;"></th>
                        </tr>
                        </thead>
                        <Tbody>
                        @foreach (var mp in Model)
                        {
                            <tr>
                                <td>@mp.DataAfericao.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@mp.PressaoArterial</td>
                                <th>@mp.FrequenciaCardiaca bpm</th>
                                <th>@mp.Temperatura º</th>
                                <th>@mp.Saturacao %</th>
                                <td>
                                    <a href="/monitoramento/update/@mp.Id" class="btn btn-secondary btn-sm mr-1" title="Editar informações de monitoramento">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    <a 
                                        class="btn btn-danger btn-sm mr-1 deleteMonitoramento" 
                                        title="Excluir informações de monitoramento"
                                        id="deleteMonitoramento"
                                        data-target="#deleteModal"
                                        data-toggle="modal"
                                        data-id="@mp.Id"
                                        data-path="@Url.Action("Delete", "MonitoramentosPacientes", new {id=@mp.Id})"
                                    >
                                        <span class="fas fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                        </Tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        @if (ViewBag.TotalPages > 0)
                        {
                            @if (ViewBag.PageNumber > 1)
                            {
                                <li class="page-item page-link">
                                    <a href="@Url.Action("Index", "MonitoramentosPacientes", new { filter = @ViewBag.Filter, page = @ViewBag.PageNumber - 1 })" class="page-link">
                                        <i class="fas fa-chevron-circle-left "></i>
                                    </a>
                                </li>
                            }
                            <li class="page-item page-link">Página @ViewBag.PageNumber de @ViewBag.TotalPages</li>
                            @if (@ViewBag.PageNumber < @ViewBag.TotalPages)
                            {
                                <li class="page-item page-link">
                                    <a href="@Url.Action("Index", "MonitoramentosPacientes", new { filter = @ViewBag.Filter, page = @ViewBag.PageNumber + 1 })" class="page-link">
                                        <i class="fas fa-chevron-circle-right"></i>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="staticBackdropLabel">Excluir Monitoramento</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir este registro? A ação não poderá ser desfeita.</p>
                <input type="hidden" id="monitoramentoIdToDelete" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Excluir permanentemente</button>
            </div>
        </div>
    </div>
</div>

@* <!-- Error Modal --> *@
<div class="modal fade" id="errorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="errorModalLabel">Erro</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="fas fa-bug"></span>
                <p id="errorMessage">Ocorreu um erro ao tentar excluir o paciente.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
    let pathToDelete;
    
    $(".deleteMonitoramento").click(function (e){
        pathToDelete = $(this).data("path").toLowerCase();
    });

    $("#confirmDelete").click(function () {
        var monitoramentoId = pathToDelete.split('=')[1];
        $.ajax({
            url: pathToDelete,
            type: 'POST',
            success: function (result) {
                if (result.success) {
                    $('a[data-id="' + monitoramentoId + '"]').closest('tr').remove();
                    $('#deleteModal').modal('hide');
                } else {
                    showErrorModal('Erro ao excluir o registro.');
                }
            },
            error: function () {
                showErrorModal('Erro ao excluir o registro.');
            }
        });
    });

    function showErrorModal(message) {
        $('#errorMessage').text(message);
        var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
        errorModal.show();
    }
</script>

